{{>header}}
{{>navbar}}
<div class="alert alert-danger text-center" role="alert">
                <td colspan="4">{{error}}</td>
</div>
    <form>
        <div class="mb-3">
            <input class="form-control" placeholder="title" name="title">
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="contant" name="contant">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">add</button>
        </div>
    </form>
{{>footer}}